appdirs==1.4.3
click==6.7
defusedxml==0.5.0
gis-metadata-parser==0.9.7
Jinja2==2.9.6
lxml==3.7.3
MarkupSafe==1.0
packaging==16.8
parserutils==0.9.7
pygeometa==0.3.dev0
pyparsing==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
six==1.10.0
